* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display:block;
    clear: both;
}

html {
    min-width: 320px;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    background-color: #fff;
}

figure {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p, a {
    margin: 0;
    padding: 0;
}

/*input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
}*/

.header, .content-wrapper, .container, .content, .footer {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: row;
}

.content-wrapper {
    margin: 0 auto;
    flex-direction: column;
    min-width: 320px;
    max-width: 1200px;
}

.container {
    flex-wrap: nowrap;
}

.content {
    width: 100%;
    flex-direction: column;
    flex: 1 1 auto;
    order: 0;
    margin-bottom: 30px;
    padding: 20px;
    background-color: #fff;
    -webkit-box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.23);
    -moz-box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.23);
    box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.23);
}

.content:last-of-type {
    margin-bottom: 0;
}

.wrap {
    margin-right: 30px;
}

.sidebar {
    padding: 20px 30px 20px;
    background-color: #fff;
    flex: 0 0 auto;
    -webkit-box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.23);
    -moz-box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.23);
    box-shadow: 4px 4px 20px 0px rgba(34, 60, 80, 0.23);
}

.sidebar1 {
    width: 250px;
    order: 1;
    max-height: 415px;
}

/* Home Style Css  */

.home__title {
    text-align: center;
}

.home__title {
    margin-bottom: 10px;
}

.home__figure {
    margin: 20px auto;
}

.btn {
    position: relative;
    display: block;
    width: 100%;
    max-width: 530px;
    padding: 10px 0;
    margin: 10px auto;
    text-align: center;
    text-decoration: none;
    font-weight: 500;
}

.btn__link {
    position: relative;
    display: block;
    width: 200px;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
}

.content__right--btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -20px;
}

.content__right--btn .btn__link {
    margin-right: 30px;
}

.btn:last-of-type {
    margin-bottom: 0px;
}

.btn__to {
    position: relative;
}

.btn__to-thumb {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    background-color: #4262be;
}

.btn__to--orange {
    background-color: #e25926;
    color: #fff;
}

.btn__to--blue {
    background-color: #4e73df;
    color: #fff;
}

.color {
    color: red;
}

.content__column--wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.content__right--ul {
    padding: 0;
}

.content__right--text {
    display: block;
    margin-left: -20px;
    margin-bottom: 20px;
}

.manager__sidebar--info span:last-of-type {
    margin-bottom: 0;
}

.manager__sidebar--figure {
    margin: 20px 0;
}

.manager__position {
    font-style: italic;
}

.manager__name {
    margin: 0 0 5px;
}

.manager__contact--info {
    margin: 10px 0;
}

.manager__contact--email,
.manager__contact--phone,
.manager__contact--city,
.manager__contact--country {
    display: flex;
    align-items: center;
}

.manager__contact--email span,
.manager__contact--phone span,
.manager__contact--city span,
.manager__contact--country span {
    margin-left: 10px;
}
/* Home Style Css  */

/* Services Style Css */

.services__block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
}

.services__block--left-title,
.services__block--right-title {
    display: block;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

.services__block--left-title {
    width: 100%;
    max-width: 400px;
}

.services__list {
    margin-left: 18px;
    padding: 0;
    font-size: 14px;
}

.services__calculator--container {
    margin-top: 10px;
}

.services__calculator--input {
    width: 100%;
    height: 70px;
    padding: 20px 250px;
    font-size: 24px;
    border: none;
    outline: none;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 7px -1px rgba(34, 60, 80, 0.17) inset;
    -moz-box-shadow: 1px 2px 7px -1px rgba(34, 60, 80, 0.17) inset;
    box-shadow: 1px 2px 7px -1px rgba(34, 60, 80, 0.17) inset;
}

.services__calculator--input::placeholder {
    text-align: center;
    color: #acacac;
}

.services__calculator {
    margin-top: 30px;
}

.services__calculator--title,
.services__calculator--except {
    text-align: center;
}

.services__calculator--except {
    max-width: 700px;
    margin: 20px auto;
}

.services__calculator--result {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.services__calc--checkbox-wrap {
    display: flex;
    align-items: center;
}

.services__calc--checkbox-wrap .calculator__result--block:last-of-type {
    margin-left: 10px;
}

.calculator__result--block,
.additional__letters,
.additional__letters--price {
    display: flex;
    align-items: center;
}

.additional__letters--text,
.additional__letters--prise-title {
    display: block
}

.additional__letters--result,
.additional__letters--prise-result {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 7px -1px rgba(34, 60, 80, 0.17) inset;
    -moz-box-shadow: 1px 2px 7px -1px rgba(34, 60, 80, 0.17) inset;
    box-shadow: 1px 2px 7px -1px rgba(34, 60, 80, 0.17) inset;
}

.calculator__result--block input {
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 5px;
    background-color: #fff;
    -webkit-box-shadow: 1px 2px 7px -1px rgba(34, 60, 80, 0.17) inset;
    -moz-box-shadow: 1px 2px 7px -1px rgba(34, 60, 80, 0.17) inset;
    box-shadow: 1px 2px 7px -1px rgba(34, 60, 80, 0.17) inset;
    border: none;
    outline: none;
}

.services__calc--next {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.calc__next--title {
    display: block;
    width: 100%;
    max-width: 460px;
}

.btn__next {
    max-width: 230px;
    margin: 0;
}


/* Services Style Css */